.footer-background {
  background-color: black;
}
.container-foot {
  max-width: 1000px;
  margin: 0 auto;
}
.display-icon {
  display: flex;
  color: white;
}
.icon-foot {
  font-size: 20px;
  padding: 15px;
}
.main-div {
  display: flex;
  justify-content: space-between;
}
.first-row {
  color: rgb(182, 177, 177);
}
@media screen and (max-width: 380px) {
  .main-div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .icon-foot {
    padding: 25px;
  }
}
