* {
  margin: 0;
  padding: 0;
}
.container {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  background-color: black;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background: linear-gradient(to top, transparent 0%, black 100%);
  position: fixed;
  top: 0;
}
.nav-link-bar {
  display: flex;
  align-items: center;
}

.img-logo {
  height: 40px;
}
.link {
  text-decoration: none;
  margin: 0px 1px 0px 10px !important;
  color: white;
  font-style: bold;
}
.nav-link {
  display: flex;
}
p {
  color: white;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-logo-bell {
  height: 30px;
}
.img-logo-serch {
  height: 30px;
}
.para {
  margin-top: 15px;
  font-size: 19px;
}
@media screen and (max-width: 690px) {
  .nav-link {
    display: none;
  }
}
@media screen and (max-width: 854px) {
  .nav-link {
    display: none;
  }
}
