.container1 {
  background-image: url(../../assets/Image/backgroundimg.webp);
  height: 100vh;
}
.contant {
  position: absolute;
  top: 15%;
  left: 4%;
  display: flex;
  flex-direction: column;
  max-width: 370px;
}
.movie-img {
  width: 100%;
}
.text {
  margin-top: 10px;
  color: white;
}
@media screen and (max-width: 1300px) {
  .container1 {
    background-repeat: no-repeat;
  }
}
