.list-background {
  background-color: black;
  overflow: hidden;
}
.heading {
  color: white;
}
.movies-list {
  display: flex;
  gap: 5px;
  padding: 20px;
}
.img-movie {
  border-radius: 30px;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.img-movie:hover {
  transform: scale(1.2);
  border-radius: 0px;
}
.popup {
  color: white;
}

@media screen and (max-width: 800px) {
  .movies-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading {
    text-align: center;
  }
}
